@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: 'Poppins', sans-serif;
  background: $red url("../../images/bg-intro-mobile.png") top left / cover no-repeat ;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  @include breakpoint(large) {
    background-image: url("../../images/bg-intro-desktop.png");
  }
}
